* {
  margin: 0;
}

.navBar {
  width: 100%;
  .links {
    display: flex;
    padding: 20px;
    
  }

}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 50px;
  width: 100%;
}