* {
  margin: 0;
}

.navBar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px;
  .links {
    margin-left: auto;
  }
  h1 {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
}